<html>
    <head>
    </head>
    <body>
        <P> hsgdhasgdahgdhdghgdasdas </P>
        <form action = '/signout' method = 'GET'>
            <button type='submit' >signout</button>
        </form>
    </body>
</html>