<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    
    <p>Welcome to </p>
    <form  action='/login', method='GET'>
      <button type="submit" >login</button><br>
    </form>
  </body>
</html>
      
      
      
      

